<%= form_for(@test) do |f| %>
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @test.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.datetime_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :estado %><br />
    <%= f.number_field :estado %>
  </div>
  <div class="field">
    <%= f.label :duracion %><br />
    <%= f.number_field :duracion %>
  </div>
  <div class="field">
    <%= f.label :total_puntos %><br />
    <%= f.number_field :total_puntos %>
  </div>
  <div class="field">
    <%= f.label :comentarios %><br />
    <%= f.text_area :comentarios %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
